                <form class="form-horizontal" method="POST">

                    <fieldset>
                        <legend>Добавление оперативного запроса</legend>

                        {{ form.csrf_token }}

                        <div class="form-group">
                            {{ form.sql.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.sql(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.description.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.description(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.not_before.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.not_before(class_="datepicker form-control", placeholder=placeholder) }}
                            </div>

                        </div>

                        <div class="form-group">
                            {{ form.nodes.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.nodes(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.tags.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.tags(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <p>
                                    <input class="btn btn-primary btn-submit" type="submit" value="Добавить оперативный запрос" style="height: auto !important; padding: 6px 15px !important;">
                                    <a href="{{ url_for('manage.distributed') }}" class="btn btn-default" style="margin-left: 10px; height: auto !important; padding: 6px 15px !important;">Отмена</a>
                                </p>
                            </div>
                        </div>

                    </fieldset>

                </form>
