                    <form class="form-horizontal" method="POST">
                        <fieldset>
                            <legend>Добавление меток</legend>
                            {{ form.csrf_token }}

                            <div class="form-group">
                                {{ form.value.label(class_="col-md-2 control-label") }}
                                <div class="col-md-10">
                                    {{ form.value(placeholder="Введите метки, по одной на строку", class_="form-control") }}
                                </div>
                            </div>

                            <div class="form-group"> 
                                <div class="col-md-10 col-md-offset-2">
                                    <p>
                                        <input class="btn btn-primary btn-submit" type="submit" value="Добавить метки" style="height: auto !important; padding: 6px 15px !important;">
                                        <a href="{{ url_for('manage.tags') }}" class="btn btn-default" style="margin-left: 10px; height: auto !important; padding: 6px 15px !important;">Отмена</a>
                                    </p>
                                </div>
                            </div>

                        </fieldset>
                    </form>


