{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            <div class="col-md-12">
                <h1><a href="{{ url_for('manage.get_node', node_id=node.id) }}">{{ node.display_name }}</a> / недавняя активность / <a href="{{ url_for('manage.node_logs', node_id=node.id) }}">логи</a></h1>

                {% if recent or queries %}
                {% include "_activity.html" %}
                {% else %}
                <p>Для этого агента нет недавней активности.<p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


