{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            <div class="col-md-9">

                {% if pack is defined %}
                <h1>
                    <a href="{{ url_for('manage.packs') }}" class="btn btn-default btn-sm" style="margin-right: 15px; vertical-align: middle; height: auto !important; padding: 6px 15px !important;">
                        <i class="fa fa-chevron-left"></i> Назад
                    </a>
                    {{ pack.name }}
                </h1>

                {% include "_pack.html" %}

                {% else %}

                {% include "forms/pack.html" %}

                {% endif %}

            </div><!--./col-md-9-->
        </div><!--./row-->
    </div><!--./body-content-->

{% endblock %}
